{% extends 'base/main.html' %}
{% block content %}


<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
          <div class="col-md-10">
            <h1 class="w-75 p-3">Login</h1>
          </div>
        </div>
      </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        <p>Não possuí uma conta? <a href="{% url 'register' %}">Registrar</a></p>
    </div>

  </div>






{% endblock content %}